@import '../../style/themes/default.scss';

$pagination-prefix-cls: #{$prefix}-pagination;
// Pagination
// ---
$pagination-item-size: 32px;
$pagination-item-size-sm: 24px;
$pagination-font-family: Arial;
$pagination-font-weight-active: 500;

@mixin input($width) {
    margin-right: 8px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    outline: none;
    padding: 0 6px;
    height: 100%;
    width: $width;
    text-align: center;
    transition: border-color 0.3s;

    &:hover {
        border-color: $primary-color;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: transparentize($disabled-color, 0.8);
    }

    &[disabled]:hover {
        border-color: $border-color;
    }
}

@mixin input-sm() {
    margin-right: 8px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    outline: none;
    padding: 0 4px;
    height: 80%;
    text-align: center;
    transition: border-color 0.3s;

    &:hover {
        border-color: $primary-color;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: transparentize($disabled-color, 0.8);
    }

    &[disabled]:hover {
        border-color: $border-color;
    }
}

.#{$pagination-prefix-cls} {
    margin: 0;
    padding: 0;
    list-style: none;

    &:after {
        content: ' ';
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }

    &-total-text {}

    &-item {
        cursor: pointer;
        border-radius: $border-radius;
        user-select: none;
        min-width: $pagination-item-size;
        height: $pagination-item-size;
        line-height: $pagination-item-size - 2px;
        text-align: center;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $border-color;
        background-color: $white;
        margin-right: 8px;
        font-family: $pagination-font-family;
        outline: 0;

        a {
            text-decoration: none;
            color: $text-color;
            transition: none;
            margin: 0 6px;
        }

        &:focus,
        &:hover {
            transition: all 0.3s;
            border-color: $primary-color;

            a {
                color: $primary-color;
            }
        }

        &-active {
            border-color: $primary-color;
            font-weight: $pagination-font-weight-active;

            a {
                color: $primary-color;
            }

            &:focus,
            &:hover {
                border-color: transparentize($primary-color, 0.3);
            }

            &:focus a,
            &:hover a {
                color: transparentize($primary-color, 0.3);
            }
        }
    }

    &-prev,
    &-next,
    &-jump-prev,
    &-jump-next {
        font-family: $pagination-font-family;
        cursor: pointer;
        color: $text-color;
        border-radius: $border-radius;
        list-style: none;
        min-width: $pagination-item-size;
        height: $pagination-item-size;
        line-height: $pagination-item-size;
        text-align: center;
        transition: all 0.3s;
        display: inline-block;
        vertical-align: middle;
    }

    &-jump-prev,
    &-jump-next {
        outline: 0;
        margin-right: 8px;

        .#{$pagination-prefix-cls}-item-container {
            position: relative;

            .#{$pagination-prefix-cls}-item-link-icon {
                color: $primary-color;
                letter-spacing: -1px;
                opacity: 0;
                transition: all 0.2s;
            }

            .#{$pagination-prefix-cls}-item-ellipsis {
                position: absolute;
                display: block;
                letter-spacing: 2px;
                color: $disabled-color;
                text-align: center;
                opacity: 1;
                transition: all 0.2s;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
        }

        &:focus,
        &:hover {
            .#{$pagination-prefix-cls}-item-link-icon {
                opacity: 1;
            }

            .#{$pagination-prefix-cls}-item-ellipsis {
                opacity: 0;
            }
        }
    }

    &-prev,
    &-jump-prev,
    &-jump-next {
        margin-right: 8px;
    }

    &-prev,
    &-next {
        outline: 0;

        a {
            color: $text-color;
            user-select: none;
        }

        &:hover a {
            border-color: transparentize($primary-color, 0.3);
        }

        .#{$pagination-prefix-cls}-item-link {
            border: 1px solid $border-color;
            background-color: $white;
            border-radius: $border-radius;
            outline: none;
            display: block;
            transition: all 0.3s;
            font-size: 12px;
            height: 100%;
            text-align: center;
        }

        &:focus .#{$pagination-prefix-cls}-item-link,
        &:hover .#{$pagination-prefix-cls}-item-link {
            border-color: $primary-color;
            color: $primary-color;
        }
    }

    &-disabled {

        &,
        &:hover,
        &:focus {
            cursor: not-allowed;
            border-color: $border-color;
            color: transparentize($disabled-color, 0.3);
            background-color: transparentize($disabled-color, 0.8);
            ;

            a,
            .#{$pagination-prefix-cls}-item-link {
                border-color: $border-color;
                color: transparentize($disabled-color, 0.3);
                cursor: not-allowed;
            }

            .#{$pagination-prefix-cls}-item-link-icon {
                opacity: 0;
            }

            .#{$pagination-prefix-cls}-item-ellipsis {
                opacity: 1;
            }
        }

        &.#{$pagination-prefix-cls}-item-active {
            background: transparentize($disabled-color, 0.3);
            border-color: transparent;

            a {
                color: white;
            }
        }

    }

    &-slash {
        margin: 0 10px 0 5px;
    }


    &-options {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        user-select: none;

        &-quick-jumper {
            display: inline-block;
            vertical-align: top;
            height: 32px;
            line-height: 32px;

            input {
                @include input(50px);
                margin: 0 8px;
            }
        }

        select {
            width: 100px;

            option div {
                display: inline-block;
                padding: 10px 5px;
            }
        }
    }

    &-total-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        user-select: none;

        span {
            margin: 0 8px;
        }
    }

    &-simple &-simple-pager {
        display: inline-block;
        margin-right: 8px;
        height: $pagination-item-size-sm;

        input {
            @include input(60px);
            margin: 0 8px;
        }
    }

    &.#{$pagination-prefix-cls}-mini,
    &.#{$pagination-prefix-cls}-simple {
        height: $pagination-item-size-sm;
        line-height: $pagination-item-size-sm;
        vertical-align: top;

        .#{$pagination-prefix-cls}-item {
            margin: 0;
            min-width: $pagination-item-size-sm;
            height: $pagination-item-size-sm;
            line-height: $pagination-item-size-sm - 2px;

            &:not(.#{$pagination-prefix-cls}-item-active) {
                background: transparent;
                border-color: transparent;
            }

        }

        .#{$pagination-prefix-cls}-prev,
        .#{$pagination-prefix-cls}-next {
            margin: 0;
            min-width: $pagination-item-size-sm;
            height: $pagination-item-size-sm;
            line-height: $pagination-item-size-sm - 2px;

            &.#{$pagination-prefix-cls}-disabled {
                background: transparent;
            }

            .#{$pagination-prefix-cls}-item-link {
                border-color: transparent;
                background: transparent;
            }

            a {
                height: $pagination-item-size-sm;
                line-height: $pagination-item-size-sm;

            }
        }

        .#{$pagination-prefix-cls}-jump-prev,
        .#{$pagination-prefix-cls}-jump-next {
            &.#{$pagination-prefix-cls}-disabled {
                background: transparent;
            }

            height: $pagination-item-size-sm;
            line-height: $pagination-item-size-sm;
        }

        .#{$pagination-prefix-cls}-options {
            .#{$pagination-prefix-cls}-quick-jumper {
                height: $pagination-item-size-sm;
                line-height: $pagination-item-size-sm;
            }

            input {
                @include input-sm();
                width: 44px;
            }
        }
    }
}

@media only screen and (max-width: $screen-sm) {
    .#{$pagination-prefix-cls}-options {
        display: none;
    }
}