@import '../../style/themes/default.scss';
@import './mixin';

.#{$prefix}-row {
    @include make-row;
    display: block;
    box-sizing: border-box;
}

.#{$prefix}-row-flex {
    display: flex;
    flex-flow: row wrap;

    &:before,
    &:after {
        display: flex;
    }
}
.#{$prefix}-row-flex-start {
	justify-content: flex-start;
}

.#{$prefix}-row-flex-center {
	justify-content: center;
}

.#{$prefix}-row-flex-end {
	justify-content: flex-end;
}

.#{$prefix}-row-flex-space-between {
	justify-content: space-between;
}

.#{$prefix}-row-flex-space-around {
	justify-content: space-around;
}

.#{$prefix}-row-flex-top {
	align-items: flex-start;
}

.#{$prefix}-row-flex-middle {
	align-items: center;
}

.#{$prefix}-row-flex-bottom {
	align-items: flex-end;
}

.#{$prefix}-col {
	position: relative;
	display: block;
}

@include make-grid-columns;
@include make-grid;