@import '../../style/themes/default.scss';
@import '../../style/themes/mixin.scss';
$btn-prefix-cls: #{$prefix}-btn;
$iconfont-css-prefix : $prefix+icon;

$btn-ghost-color: $text-color;
$btn-ghost-bg: transparent;
$btn-ghost-border: $border-color;

$btn-font-weight : 400;
$btn-border-radius-base : $border-radius;
$btn-border-radius-sm : $border-radius-sm;

$btn-primary-color : #fff;
$btn-primary-bg : $primary-color;

$btn-default-color : $text-color;
$btn-default-bg : #fff;

$btn-default-border : $border-color;

$btn-danger-color : $background-color-base;
$btn-danger-bg :$error-color;
$btn-danger-border : $border-color;

$btn-disable-color : $disabled-color;
$btn-disable-bg : $disabled-bg;
$btn-disable-border : $border-color;

$btn-padding-base : 0 $padding-md - 1px;

$btn-font-size-lg : $font-size-lg;
$btn-font-size-sm : $font-size;

$btn-padding-lg : $btn-padding-base;
$btn-padding-sm : 0 $padding-xs - 1px;

$btn-height-base : 32px;
$btn-height-lg : 40px;
$btn-height-sm : 24px;

$btn-circle-size : $btn-height-base;
$btn-circle-size-lg : $btn-height-lg;
$btn-circle-size-sm : $btn-height-sm;

$btn-group-border : transparentize($primary-color, 0.2);

@mixin button-size($height, $padding, $font-size, $border-radius) {
    padding: $padding;
    font-size: $font-size;
    border-radius: $border-radius;
    height: $height;
}

@mixin button-color($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    >a:only-child {
        color: currentColor;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: transparent;
        }
    }
}

@mixin button-disabled() {

    &.disabled,
    &[disabled] {

        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            @include button-color($btn-disable-color, $btn-disable-bg, $btn-disable-border);
            text-shadow: none;
            box-shadow: none;
        }
    }
}

@mixin btn-variant-default($color, $background, $border) {
    @include button-color($color, $background, $border);

    &:hover,
    &:focus {
        @include button-color(tint($primary-color, 20%), $background, tint($primary-color, 20%));
    }

    &:active,
    &.active {
        @include button-color(shade($primary-color, 20%), $background, shade($primary-color, 20%));

    }

    @include button-disabled();
}

@mixin btn-variant-ghost($color) {
    @include button-color($color, transparent, $color);

    &:hover,
    &:focus {
        @include button-color(tint($color, 20%), transparent, tint($color, 20%));
    }

    &:active,
    &.active {
        @include button-color(shade($color, 20%), transparent, shade($color, 20%));
    }

    @include button-disabled();
}

@mixin btn-variant-main($color, $background) {
    @include button-color($color, $background, $background);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

    &:hover,
    &:focus {
        @include button-color($color, tint($background, 20%), tint($background, 20%));
    }

    &:active,
    &.active {
        @include button-color($color, shade($background, 20%), shade($background, 20%));
    }

    @include button-disabled();
}

@mixin btn() {
    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: none;
    user-select: none;
    transition: all 0.3s $ease-in-out;
    position: relative;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    @include button-size($btn-height-base, $btn-padding-base, $font-size, $btn-border-radius-base);

    >.#{$iconfont-css-prefix} {
        line-height: 1;
    }

    &,
    &:active,
    &:focus {
        outline: 0;
    }

    &:not([disabled]):active {
        outline: 0;
        box-shadow: none;
    }

    &.disabled,
    &[disabled] {
        cursor: not-allowed;

        >* {
            pointer-events: none;
        }
    }

    &-lg {
        @include button-size($btn-height-lg,
        $btn-padding-lg,
        $btn-font-size-lg,
        $btn-border-radius-base);
    }

    &-sm {
        @include button-size($btn-height-sm,
        $btn-padding-sm,
        $btn-font-size-sm,
        $btn-border-radius-sm);
    }
}

@mixin btn-group-base($btnClassName) {
    position: relative;
    display: inline-block;

    >.#{$btnClassName} {
        position: relative;

        &:hover,
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }

        &:disabled {
            z-index: 0;
        }
    }

    &-lg>.#{$btnClassName} {
        @include button-size($btn-height-lg, $btn-padding-lg, $btn-font-size-lg, 0);
        line-height: $btn-height-lg -2px;
    }

    &-sm>.#{$btnClassName} {
        @include button-size($btn-height-sm, $btn-padding-sm, $btn-font-size-sm, 0);
        line-height: $btn-height-sm -2px;

        >.#{$iconfont-css-prefix} {
            font-size: $font-size;
        }
    }
}

@mixin btn-default() {
    @include btn-variant-default($btn-default-color, $btn-default-bg, $btn-default-border);
}

@mixin btn-dashed() {
    @include btn-variant-default($btn-default-color, $btn-default-bg, $btn-default-border);
    border-style: dashed;
}

@mixin btn-ghost() {
    @include btn-variant-ghost($btn-primary-color);
}

@mixin btn-primary() {
    @include btn-variant-main($btn-primary-color, $primary-color);

}

@mixin btn-danger() {
    @include btn-variant-main($btn-danger-color, $btn-danger-bg);
}

@mixin btn-circle($btnClassName: btn) {
    @include square($btn-circle-size);
    @include button-size($btn-circle-size, 0, $font-size + 2px, 50%);

    &.#{$btnClassName}-lg {
        @include square($btn-circle-size-lg);
        @include button-size($btn-circle-size-lg, 0, $btn-font-size-lg + 2px, 50%);
    }

    &.#{$btnClassName}-sm {
        @include square($btn-circle-size-sm);
        @include button-size($btn-circle-size-sm, 0, $font-size, 50%);
    }
}

@mixin btn-group($btnClassName: btn) {
    @include btn-group-base($btnClassName);

    .#{$btnClassName} {
        border-radius: 0;
    }

    .#{$btnClassName}+.#{$btnClassName} {
        margin-left: -1px;
    }

    >.#{$btnClassName}:first-child {
        margin-left: 0;
    }

    >.#{$btnClassName}:only-child {
        border-radius: $btn-border-radius-base;
    }

    >.#{$btnClassName}:first-child:not(:last-child) {
        border-bottom-left-radius: $btn-border-radius-base;
        border-top-left-radius: $btn-border-radius-base;
    }

    >.#{$btnClassName}:last-child:not(:first-child) {
        border-bottom-right-radius: $btn-border-radius-base;
        border-top-right-radius: $btn-border-radius-base;
    }

    &-sm {
        >.#{$btnClassName}:only-child {
            border-radius: $btn-border-radius-sm;
        }

        >.#{$btnClassName}:first-child:not(:last-child) {
            border-bottom-left-radius: $btn-border-radius-sm;
            border-top-left-radius: $btn-border-radius-sm;
        }

        >.#{$btnClassName}:first-child:not(:first-child) {
            border-bottom-right-radius: $btn-border-radius-sm;
            border-top-right-radius: $btn-border-radius-sm;
        }
    }
}

@keyframes icon-rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}