@import '../../style/themes/default.scss';
$anchor-border-width: 2px;

.#{$prefix}-anchor {
    position: relative;
    padding-left: $anchor-border-width;
    box-sizing: border-box;
    margin: 0;
    padding: $padding-xs;
    list-style: none;
    color: $text-color;
    &-wrapper {
        background-color: $white;
        overflow: auto;
        padding-left: 4px;
        margin-left: -4px;
    }

    &-ink {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;

        &:before {
            content: ' ';
            position: relative;
            width: $anchor-border-width;
            height: 100%;
            display: block;
            background-color: $border-color-split;
            margin: 0 auto;
        }

        &-ball {
            display: none;
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            border: 2px solid $primary-color;
            background-color: $white;
            left: 50%;
            transition: top 0.3s ease-in-out;
            transform: translateX(-50%);

            &.visible {
                display: inline-block;
            }
        }
    }
    &.fixed &-ink &-ink-ball {
        display: none;
    }
	
	&-link{
		padding: 7px 0 7px 16px;
        line-height: 1.143;
        &-title {
            display: block;
            position: relative;
            transition: all 0.3s;
            color: $text-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 6px;

            &:only-child {
                margin-bottom: 0;
            }
        }
        &-active>&-title {
            color: $primary-color;
        }
	}
	&-link &-link {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}