//
$prefix: demo;

//colors
$primary-color: #1890ff;
$info-color: $primary-color;
$success-color: #52c41a;
$process-color: $primary-color;
$error-color: #f5222d;
$highlight-color: #f5222d;
$warning-color: #fa8c16;
$normal-color: #d9d9d9;
$white: #fff;
$black: #000;

//
$primary-1: #e6f7ff;
$primary-2: #bae7ff;
$primary-3: #91d5ff;
$primary-4: #69c0ff;
$primary-5: #40a9ff;
$primary-6: #1890ff;
$primary-7: #096dd9;
$primary-8: #0050b3;
$primary-9: #003a8c;
$primary-10: #002766;

//
$body-background: #fff;
//
$component-background: #fff;
$font-family: "Chinese Quote",
"Segoe UI",
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
Arial;

$code-family: Consolas,
"Liberation Mono";

$heading-color: RGB(0, 0, 0, .85);
$heading-color-dark: RGB(0, 0, 0, 1);
$text-color: RGB(0, 0, 0, .65);
$text-color-secondary: RGB(0, 0, 0, .45);
$text-color-dark:RGB(0, 0, 0, .85);
$text-color-secondary-dark:RGB(1, 1, 1, .65);
$font-variant-base: tabular-nums;
$font-size-base: 14px;
$font-size-lg : $font-size-base+2px;
$font-size-sm : 12px;
$line-height-base : 1.5;
$border-radius-base : 4px;
$border-radius-sm : 2px;

//vertical padding
//
$padding-lg : 24px; // containers
$padding-md : 16px; // small containers and buttons
$padding-sm : 12px; // Form controls and items
$padding-xs : 8px; // small items

// vertical padding for all form controls
$ontrol-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;

$item-active-bg : $primary-1;
$item-hover-bg : $primary-1;

$iconfont-css-prefix : $prefix+icon;

// LINK
$link-color : $primary-color;
$link-hover-color : $primary-5;
$link-active-color : $primary-7;
$link-decoration : none;
$link-hover-decoration : none;
// Animation
$ease-base-out : cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in : cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out : cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out : cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back : cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back : cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back : cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ : cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ : cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ : cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint : cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint : cubic-bezier(0.86, 0, 0.07, 1);
//Border color
// Border color
$border-color-base : hsl(0, 0, 85%); // base border outline a component
$border-color-split : hsl(0, 0, 91%); // split border inside a component
$border-width-base : 1px; // width of the border for a component
$border-style-base : solid; // style of a components border
//Outline
$background-color-light : hsl(0, 0, 98%); // background of header and selected item
$background-color-base : hsl(0, 0, 96%); // Default grey background color
//Disabled states
$disabled-color : #aaa;
$disabled-bg : $background-color-base;
$disabled-color-dark : #ddd;
//Shadow
//Buttons
$btn-font-weight : 400;
$btn-border-radius-base : $border-radius-base;
$btn-border-radius-sm : $border-radius-base;

$btn-primary-color : #fff;
$btn-primary-bg : $primary-color;

$btn-default-color : $text-color;
$btn-default-bg : #fff;
$btn-default-border : $border-color-base;

$btn-danger-color : $error-color;
$btn-danger-bg : $background-color-base;
$btn-danger-border : $border-color-base;

$btn-disable-color : $disabled-color;
$btn-disable-bg : $disabled-bg;
$btn-disable-border : $border-color-base;

$btn-padding-base : 0 $padding-md - 1px;
$btn-font-size-lg : $font-size-lg;
$btn-font-size-sm : $font-size-base;
$btn-padding-lg : $btn-padding-base;
$btn-padding-sm : 0 $padding-xs - 1px;

$btn-height-base : 32px;
$btn-height-lg : 40px;
$btn-height-sm : 24px;

$btn-circle-size : $btn-height-base;
$btn-circle-size-lg : $btn-height-lg;
$btn-circle-size-sm : $btn-height-sm;

$btn-group-border : $primary-5;
//Checkbox
//Radio
//Radio Button
// Media queries breakpoints
// Extra small screen / phone
$screen-xs : 480px;
$screen-xs-min : $screen-xs;

// Small screen / tablet
$screen-sm : 576px;
$screen-sm-min : $screen-sm;

// Medium screen / desktop
$screen-md : 768px;
$screen-md-min : $screen-md;

// Large screen / wide desktop
$screen-lg : 992px;
$screen-lg-min : $screen-lg;

// Extra large screen / full hd
$screen-xl : 1200px;
$screen-xl-min : $screen-xl;

// Extra extra large screen / large descktop
$screen-xxl : 1600px;
$screen-xxl-min : $screen-xxl;

// provide a maximum
$screen-xs-max : ($screen-sm-min - 1px);
$screen-sm-max : ($screen-md-min - 1px);
$screen-md-max : ($screen-lg-min - 1px);
$screen-lg-max : ($screen-xl-min - 1px);
$screen-xl-max : ($screen-xxl-min - 1px);


//Grid system
$grid-columns : 24;
$grid-gutter-width : 0;
//Layout
//Layout light theme
//z-index list
$zindex-affix : 10;
$zindex-back-top : 10;
$zindex-modal-mask : 1000;
$zindex-modal : 1000;
$zindex-notification : 1010;
$zindex-message : 1010;
$zindex-popover : 1030;
$zindex-picker : 1050;
$zindex-dropdown : 1050;
$zindex-tooltip : 1060;
//Animation
// Animation
$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s; // Tooltip
//From
//Input
//Tooltip
//Popover
//Modal
//Progress
//Menu
//dark theme
//Spin
//Table
//Tag
//TimePicker
//Carousel
//Badge
//Rate
//Card
//Comment
//Tabs
//BackTop
//Avatar
//Switch
//Pagination
//Breadcrumb
//Slider
//Tree
//Collapse
//Skeleton
//Transfer
//Message
//Motion
$wave-animation-width: 6px;
//Alert
$alert-success-border-color: #b7eb8f;
$alert-success-bg-color: #f6ffed;
$alert-success-icon-color: $success-color;
$alert-info-border-color: #91d5ff;
$alert-info-bg-color: #e6f7ff;
$alert-info-icon-color: $info-color;
$alert-warning-border-color: #ffe58f;
$alert-warning-bg-color: #fffbe6;
$alert-warning-icon-color: $warning-color;
$alert-error-border-color: #ffa39e;
$alert-error-bg-color: #fff1f0;
$alert-error-icon-color: $error-color;
//List